li {
  list-style-type: none;
}

.title {
  padding: 20px 50px;
  font-size: 3vw;
}

.home-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7%;
}

.scores-container {
  width: 50%;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.players-li {
  /* width: 10%; */
  height: 10%;
  padding: 20px;
}

.players-li:nth-child(odd) {
  background-color: grey;
}

.refresh-btn {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.refresh-btn > h3 {
  flex: 1;
  width: 100%;
  padding: 0 8%;
}

button {
  width: 150px;
  padding: 10px;
}

.name {
  padding: 0 8%;
}

input[type="text"] {
  padding: 14px 12px;
  margin: 8px;
  border-radius: 6px;
}

input[type="submit"] {
  width: 20%;
  margin: 8px;
  padding: 14px 20px;
  margin-right: auto;
}
